*{
  margin: 0;
  padding: 0;
}

.app{
    width: 90%;
    margin: 10px auto;
    /* border: 1px solid red; */
}

.input__box{
    padding: 10px;
    width: 50%;
    margin-right: 10px;
}

.comment__btn{
    padding: 5px;
    background: lightblue;
    color: black;
    border: 0;
    border-radius: 5px;
}

.comment__btn__cancel{
    margin-left: 10px;
    background-color: red;
    color: white;
}

.comment_box{
    border: 1px solid green;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
}

.comment_box__date{
    font-size: 14px;
}

.comment_box__content{
    font-size: 20px;
    max-width: 70%;
}

.comment_box__button_container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.comment_box__buttons{
  border: 0;
  background-color: white;
  cursor: pointer;
  color:grey;
}

.comment_box__buttons:hover{
    border-bottom: 2px solid black;
}